<div class="bottom-navigation">
    <button class="nav-btn">
        <a href="/cativeiros"><img src="./imgs/home_btn.png" alt=""></a>
    </button>
    <button class="nav-btn">
        <a href="/meuSitio">
        <img src="./imgs/config_btn.png" alt="">
    </a>
    </button>
    <button class="nav-btn">
        <a href="/notificacoes"> <img src="./imgs/notif_btn.png" alt=""></a>
       
    </button>
    <button class="nav-btn">
        <a href="/perfil"><img src="./imgs/perfil_btn.png" alt=""></a>
    </button>

  </div>
  