<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tanqueEdit_ejs.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Editar Tanque</title>
</head>
<style>
    #save {
        background: linear-gradient(to right, #FFC2C2, #AED5FF); /* Gradiente de fundo */
    }
</style>
<body>
    <div class="container">
        <div class="card border-0"> <!-- Removido a borda -->

                <h3 class="text-left">Editar seu cativeiro</h3> 
                <hr>

            <div class="card-body">
                <form action="/cativeiros/update" method="post">
                    
                    <input class="form-control" type="text" name="local" placeholder="codigo" id="local" value="<%= cativeiro.local %>" required>
                    
                    <input class="form-control" type="date" name="data" id="data" value="<%= cativeiro.data instanceof Date && !isNaN(cativeiro.data) ? cativeiro.data.toISOString().split('T')[0] : '' %>" required>
                    <hr>
                    <label class="flex items-center justify-between p-3 border rounded-lg bg-gray-100 cursor-pointer">
                        <span class="text-gray-500">Selecionar foto</span>
                        <input type="file" id="foto_sensor" name="foto_sensor" class="hidden" accept="image/*" required>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                    </label>
                    <!-- Área de preview da imagem -->
                    <div class="mt-4" id="image-preview-container" style="display: none;">
                        <img id="image-preview" src="" alt="Preview da imagem" class="max-w-xs" />
                    </div>
                    <br>
                    <label>Relacione o cativeiro aos sensores</label>
                    <select class="form-control" name="tipo" required>
                        <option value="">Sensor de temperatura</option>
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo2">Tipo 2</option>
                        <option value="tipo3">Tipo 3</option>
                    </select>

                    <select class="form-control" name="status" required>
                        <option value="">Sensor de Ph da água</option>
                        <option value="ativo">Ativo</option>
                        <option value="inativo">Inativo</option>
                        <option value="manutencao">Em Manutenção</option>
                    </select>

                    <select class="form-control" name="prioridade" required>
                        <option value="">Sensor de amônia</option>
                        <option value="alta" class="text-dark">Alta</option>
                        <option value="media" class="text-dark">Média</option>
                        <option value="baixa" class="text-dark">Baixa</option>
                    </select>
                    
                    <input type="hidden" name="id" value="<%= cativeiro.id %>">
                    
                    <br>
                    <input type="submit" class="btn" id="save" value="Salvar" onclick="return confirm('Você realmente deseja alterar os dados do cativeiro <%= cativeiro.nome %>?')">
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const fileInput = document.getElementById('foto_sensor');
            const imagePreviewContainer = document.getElementById('image-preview-container');
            const imagePreview = document.getElementById('image-preview');

            fileInput.addEventListener('change', function(event) {
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        // Exibe o container e a imagem
                        imagePreviewContainer.style.display = 'block';
                        imagePreview.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                } else {
                    // Caso não haja arquivo, oculta o preview
                    imagePreviewContainer.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
