<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tanqueEdit_ejs.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Editar Tanque</title>
</head>
<style>
    #save {
        background: linear-gradient(to right, #FFC2C2, #AED5FF); /* Gradiente de fundo */
    }
</style>
<body>
    <div class="container">
        <div class="card border-0"> <!-- Removido a borda -->

                <h3 class="text-left">Condição Ideal</h3> 
                <hr>

            <div class="card-body">
                <form action="/condicoes/new" method="post">
                    <!-- Campo hidden para passar o id_tipo_camarao -->
                    <input type="hidden" name="id_tipo_camarao" value="<%= id_tipo_camarao %>">
                    
                    <!-- Campos para inserir as condições ideais -->
                    <input class="form-control" type="number" name="temp_ideal" placeholder="Temperatura Ideal (°C)" id="temp_ideal" step="0.1" required>
                    <input class="form-control" type="number" name="ph_ideal" placeholder="pH Ideal" id="ph_ideal" step="0.1" required>
                    <input class="form-control" type="number" name="amonia_ideal" placeholder="Amônia Ideal (ppm)" id="amonia_ideal" step="0.1" required>
                    
                    <!-- Botão para salvar as condições -->
                    <button type="submit" class="btn" id="save" style="color: white;">Salvar</button>
                </form>
            </div>
        </div>
    </div>


</body>
</html>
