<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_ejs.css">
    <link rel="stylesheet" href="/css/dashboard_ejs.css" />
    <title>Cadastro de sensor</title>
</head>
<style>
#image-preview{
    width: 30%;
};

</style>
<body>
    <% if(successMessage.length) { %>
        <div id="flash-message" class="alert alert-success">
            <%= successMessage[0] %>
        </div>
    <% } else if(errorMessage.length) { %>
        <div id="flash-message" class="alert alert-danger">
            <%= errorMessage[0] %>
        </div>
    <% } %>

    <div class="form-container pb-16">
        <h2 class="text-left text-2xl font-bold p-2">Cadastro de Componentes IOT</h2>
        <hr class="gradient-hr mb-4">
        <form action="/sensores/new" method="post" enctype="multipart/form-data">
            <!-- Dropdown -->
            <div class="mb-4">
                <label for="tipo_sensor" class="block text-gray-700 font-bold text-xl text-left">Sensor</label>
                <select id="id_tipo_sensor" name="id_tipo_sensor" class="block w-full p-3 border rounded-lg text-gray-700 bg-gray-100 focus:ring focus:ring-blue-300 mt-3" required>
                    <option value="" disabled selected>Selecione o componente</option>
                    <option value="1">Sensor medidor de PH</option>
                    <option value="2">Sensor medidor de temperatura</option>
                    <option value="3">Sensor medidor de amônia</option>  
                    <option value="3">Sensor medidor de nível de ração</option>
                    <option value="3">Motor dispensador de ração</option>   
                </select>
            </div>
            <!-- Apelido     -->
            <div class="mb-4">
                <label for="apelido" class="block text-gray-700 font-bold text-xl text-left">Apelido do Sensor</label>
                <input type="text" id="apelido" name="apelido" 
                    class="block w-full p-3 border rounded-lg text-gray-700 bg-gray-100 focus:ring focus:ring-blue-300 mt-3" 
                    placeholder="Digite o apelido do sensor" required>
            </div>
            <!-- Upload -->
            <div class="mb-6">
                <label class="flex items-center justify-between p-3 border rounded-lg bg-gray-100 cursor-pointer">
                    <span class="text-gray-500">Selecionar foto</span>
                    <input type="file" id="foto_sensor" name="foto_sensor" class="hidden" accept="image/*" required>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                </label>
                <!-- Área de preview da imagem -->
                <div class="mt-4" id="image-preview-container" style="display: none;">
                    <img id="image-preview" src="" alt="Preview da imagem" class="max-w-xs" />
                </div>
            </div>
            
            <!-- Botão -->
            <button type="submit" class="block w-full text-white font-medium py-2 rounded-lg text-center shadow-lg hover:opacity-90">
                Cadastrar
            </button>
        </form>
    </div>
    <%- include('partials/nav_bottom_sem') %>
    <%- include('partials/preview-imagem-sensor') %>
</body>
</html>
