<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_ejs.css">
    <title>Cadastro de sensor</title>
</head>
<body>
    <% if(successMessage.length) { %>
        <div id="flash-message" class="alert alert-success">
            <%= successMessage[0] %>
        </div>
    <% } else if(errorMessage.length) { %>
        <div id="flash-message" class="alert alert-danger">
            <%= errorMessage[0] %>
        </div>
    <% } %>

    <div class="form-container">
        <h2 class="text-left text-2xl font-bold p-2">Cadastro de sensores</h2>
        <hr class="gradient-hr mb-4">
        <form action="/ method="post" enctype="multipart/form-data">
            <!-- Dropdown -->
            <div class="mb-4">
                <label for="tipo_sensor" class="block text-gray-700 font-bold text-xl text-left">Sensor</label>
                <select id="tipo_sensor" name="tipo_sensor" class="block w-full p-3 border rounded-lg text-gray-700 bg-gray-100 focus:ring focus:ring-blue-300 mt-3" required>
                    <option value="" disabled selected>Selecione o sensor</option>
                        <option value="ph">Sensor medidor de PH</option>
                        <option value="amonia">Sensor medidor de amônia</option>
                        <option value="temp">Sensor medidor de temperatura</option>
                </select>
            </div>
            
            <!-- Upload -->
            <div class="mb-6">
            
                <label class="flex items-center justify-between p-3 border rounded-lg bg-gray-100 cursor-pointer">
                    <span class="text-gray-500">Selecionar foto</span>
                    <input type="file" id="foto_sensor" name="foto_sensor" class="hidden" accept="image/*" required>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                </label>
            </div>
            
            <!-- Botão -->
            <button type="submit" class="block w-full text-white font-medium py-2 rounded-lg text-center shadow-lg hover:opacity-90">
                Cadastrar
            </button>
        </form>
          


    </div>
    <img src="/imgs/camarize.png" class="w-48 mt-4" alt="">

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const flashMessage = document.getElementById("flash-message");
            if (flashMessage) {
                flashMessage.style.display = "block";  // Exibe o popup
    
                // Desaparece automaticamente após 3 segundos
                setTimeout(() => {
                    flashMessage.style.opacity = "0";  // Inicia transição para desaparecer
                    setTimeout(() => {
                        flashMessage.style.display = "none";
                    }, 500);
                }, 1500);
            }
        });
    </script>

</body>
</html>

