<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tanquesNew_ejs.css">
    <title>Cadastrar Informações</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Cadastre Seu Tanque</h3>
                <hr class="gradient-hr mb-4 mt-4">
            </div>
            <div class="card-body">
                <form action="/cativeiros/new" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id_tipo_camarao" value="<%= tipoId %>">
                    <div class="form-group">
                        <label for="data"><p>Data de Instalação:</p></label>
                        <input type="date" name="data" id="data" class="form-control" placeholder="Data de Instalação" required>
                    </div>
                    <div class="form-group">
                        <label for="data"><p>Imagem do tanque:</p></label>
                        <input type="file" name="file" id="file" class="form-control" placeholder="Imagem do Tanque" required>
                    </div>
                    <hr class="gradient-hr mb-4 mt-4">
                    <h3 class="text-center">Relacione os Sensores:</h3>
                    
                    <!-- 
                    esse é em outro formulario para o cadastro na tabela sensores x cativeiros
                    Ajuste os selects para ter a mesma classe form-control
                    <div class="form-group">
                        <select name="temp" id="temp" class="form-control" required>
                            <option value="" disabled selected>Selecione o Sensor de Temperatura</option>
                            <option value="DHT11">DHT11</option>
                            <option value="DHT22">DHT22</option>
                            <option value="LM35">LM35</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <select name="ph" id="ph" class="form-control" required>
                            <option value="" disabled selected>Selecione o Sensor de pH</option>
                            <option value="SEN0161">SEN0161</option>
                            <option value="E-201C">E-201C</option>
                            <option value="Gravity_Analog_pH">Gravity Analog pH</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <select name="amonia" id="amonia" class="form-control" required>
                            <option value="" disabled selected>Selecione o Sensor de Amônia</option>
                            <option value="MQ-137">MQ-137</option>
                            <option value="Atlas_Scientific">Atlas Scientific</option>
                            <option value="SenipH_NH3">SenipH NH₃</option>
                        </select>
                    </div> -->

                    <input type="submit" value="Cadastrar" class="btn">
                </form>
            </div>
        </div>
    </div>    
</body>
</html>
