<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tanquesNew_ejs.css">
    <title>Cadastrar Informações</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Cadastre Seu Tanque</h3>
                <hr class="gradient-hr mb-4 mt-4">
            </div>
            <div class="card-body">
                <form action="/cativeiros/new" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id_tipo_camarao" value="<%= tipoId %>">
                    <div class="form-group">
                        <label for="data"><p>Data de Instalação:</p></label>
                        <input type="date" name="data" id="data" class="form-control" placeholder="Data de Instalação" required>
                    </div>
                    <div class="form-group">
                        <label for="data"><p>Imagem do tanque:</p></label>
                        <input type="file" name="file" id="file" class="form-control" placeholder="Imagem do Tanque" required>
                    </div>
                    <hr class="gradient-hr mb-4 mt-4">
                    <h3 class="text-center">Relacione os Sensores:</h3>
                    <input type="submit" value="Cadastrar" class="btn">
                </form>
            </div>

        </div>
    </div>   
    
</body>
</html>
