<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tanquesNew_ejs.css">
    <title>Cadastrar Informações</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Cadastre Seu Tanque</h3>
                <hr class="gradient-hr mb-4 mt-4">
            </div>
            <div class="card-body">
              <form action="/cativeiros/new" method="post" enctype="multipart/form-data">
                <!-- Campo oculto para passar o ID do tipo de camarão -->
                <input type="hidden" name="id_tipo_camarao" value="<%= tipoId %>">
                <div class="form-group">
                  <label for="data_instalacao">
                    <p>Data de Instalação:</p>
                  </label>
                  <input type="date" name="data_instalacao" id="data_instalacao" class="form-control" placeholder="Selecione a data de instalação" required />
                </div>
              
                <!-- Upload da Imagem do Tanque -->
                <div class="form-group">
                  <label for="foto_cativeiro">
                    <p>Imagem do tanque:</p>
                  </label>
                  <input type="file" name="foto_cativeiro" id="foto_cativeiro" class="form-control" accept="image/*" required />
                </div>

                <div class="text-center mt-4">
                  <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
              </form>                              
            </div>
        </div>
    </div>   

    <!-- Script para verificar se os campos estão recebendo os valores corretamente -->
    <script>
        console.log("ID Tipo Camarão: ", document.querySelector('input[name="id_tipo_camarao"]').value);
        console.log("ID Sítio: ", document.querySelector('input[name="id_sitio"]').value);
    </script>

</body>
</html>
