
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {

    font-family: Poppins;
    height: 100vh; /* Garante que o fundo ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os itens na coluna */
}
ul {
    list-style: square;
    line-height: 30px;
}

a {
    color: #6691FF;
    text-decoration: none;

}

.form-container {
    background-color: white; /* Cor de fundo da div do formulário */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 30px; /* Espaçamento interno */
    width: 500px; /* Largura da div */
    text-align: center; /* Centraliza o texto dentro da div */
    min-height: 250px; /* Altura mínima da div */
}

input[type="email"],
input[type="password"] {
    width: 90%; /* Largura total do campo de entrada */
    padding: 10px; /* Espaçamento interno dos campos */
    margin: 10px 0; /* Margem entre os campos */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 5px; /* Bordas arredondadas dos campos */
}
.gradient-hr {
    border: none;
    height: 1.5px; /* Ajuste a altura conforme necessário */
    background: linear-gradient(to right, #FFC2C2, #AED5FF); /* Gradiente de fundo */
}
button {
    background: linear-gradient(to right, #FFC2C2, #AED5FF); /* Gradiente de fundo */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 12px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
    width: 90%; /* Largura total do botão */
    margin-top: 10px; /* Margem superior para o botão */
}


.register-container {
    margin-top: 20px; /* Espaçamento acima da seção de cadastro */
}

.register-container a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: #AED5FF; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px; /* Adiciona um pouco de padding nas laterais */
    }

    .form-container {
        width: 105%; /* Aumenta a largura da div do formulário para ocupar mais espaço */
        padding: 20px; /* Reduz o padding interno */
        min-height: 200px; /* Ajusta a altura mínima da div */
    }

    input[type="email"],
    input[type="password"] {
        width: 90%; /* Largura total do campo de entrada */
        padding: 8px; /* Reduz o padding dos campos */
    }

    button {
        padding: 10px; /* Reduz o padding do botão */
    }

    .register-container {
        margin-top: 15px; /* Reduz o espaço acima da seção de cadastro */
    }

    ul {
        line-height: 25px; /* Ajusta o espaçamento entre as linhas da lista */
    }
}

@media screen and (min-width: 812px) and (max-width: 1200px) {
    body {
        padding: 10px; /* Adiciona um pouco de padding nas laterais */
    }
    .form-container {
        width: 80%; /* Aumenta a largura da div do formulário para ocupar mais espaço */
        padding: 20px; /* Reduz o padding interno */
        min-height: 200px; /* Ajusta a altura mínima da div */
    }

    input[type="email"],
    input[type="password"] {
        width: 90%; /* Largura total do campo de entrada */
        padding: 8px; /* Reduz o padding dos campos */
    }

    button {
        padding: 10px; /* Reduz o padding do botão */
    }

    .register-container {
        margin-top: 15px; /* Reduz o espaço acima da seção de cadastro */
    }

    ul {
        line-height: 25px; /* Ajusta o espaçamento entre as linhas da lista */
    }
}